h1 {
	text-align:center;
	font-family:'Comic Sans MS', cursive;
	font-style: italic;
}
h2 {
	text-align:center;
	font-family:'Comic Sans MS', cursive;
	font-style: italic;
}
h3 {
	font-family:'Comic Sans MS', cursive;
	font-style: italic;
}

.main::after {
	content: '.';
	display:block;
	clear:both;
	height:0;
}
.hat {
	display: inline;
	padding-right:40px;
}
.hat1 {
	float:left;
}
.hat2 {
	float:right;
	padding-top:14px;
}
.go {
	margin-right:30px;
}

body {
	background:gray;
}
.top {
	width: 100%;
	background:pink;
	display:inline-block;
}
.main1 {
	float:left;
	background:white;
	width:73.5%;
	padding-left:10px;
	padding-bottom:1px;
	margin-top:5px;
	
}
.main2 {
	background:pink;
	float:right;
	width:22.5%;
	height: 447px;
	margin-top:5px;
	padding-right:10px;
}
.footer {
	background:white;
	display:inline-block;
	width:98.7%;
	
	margin-top:8px;
	padding-left:10px;
}
.all {
	width:56%;
	margin:0 auto;
}
.go {
	background:black;
	color:white;
}